<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
    <h2>detail.html</h2>
    <table>
        <tr>
            <th>글번호</th>
            <th>글제목</th>
            <th>글작성자</th>
            <th>글내용</th>
            <th>글조회수</th>
            <th>글첨부파일</th>
            <th>삭제</th>
            <th>수정하기</th>
        </tr>
        <tr>
            <td th:text="${boardList.id}"></td>
            <td th:text="${boardList.boardTitle}"></td>
            <td th:text="${boardList.boardWriter}"></td>
            <td th:text="${boardList.boardContents}"></td>
            <td th:text="${boardList.boardHits}"></td>
            <td th:multiple="${boardList.filePath}"></td>
            <td><button th:onclick="deletebtn([[${boardList.id}]])" id="delete-btn">삭제</button></td>
            <td><button th:onclick="updatebtn([[${boardList.id}]])" id="updatebtn">업데이트</button> </td>
        </tr>
    </table>
    <div th:id="comment-write">
        작성자 : <input type="text" id="commentWriter" th:value="${sessionEmail}" readonly>
        내용 : <input type="text" id="commentContents">
        <button id="commentswritebtn">댓글등록</button>
    </div>
    <div id="comment-area">
        <table>
            <thead>
            <tr>
                <th>댓글번호</th>
                <th>작성자</th>
                <th>내용</th>
                <th>작성시간</th>
                <th>삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="comment: ${commentList}">
                <td th:text="${comment.id}"></td>
                <td th:text="${comment.commentWriter}"></td>
                <td th:text="${comment.commentContents}"></td>
                <td th:text="${comment.createTime}"></td>
                <td><button id="commentdeletebtn" th:onclick="commentdeletebtn([[${comment.id}]])">삭제</button></td>
            </tr>
            </tbody>
        </table>
    </div>

</body>

<script>
    function commentdeletebtn(commentId){
        $.ajax({
            type: "post",
            url: "/comment/delete",
            data:{
                "commentId": commentId
            },
            dataType: "text",
            success: function (){
                location.href="/board/[[${boardList.id}]]";
            },
            error: function (){
                alert("실패");
            }
        });
    };

    $("#commentswritebtn").click(function(){
        const commentWriter = $("#commentWriter").val();
        const commentContents = $("#commentContents").val();
        const boardId = "[[${boardList.id}]]";

        $.ajax({
            type: "post",
            url:"/comment/save",
            data: {
                "commentWriter" : commentWriter,
                "commentContents" : commentContents,
                "boardId" : boardId
            },
            dataType : "json",
            success: function (result){
                console.log(result);
                console.log("/board/[[${boardList.id}]]");
                location.href="/board/[[${boardList.id}]]";
            },
            error: function (){
                alert("ajax 실패");
            }

        });
    });
    const updateBtn = document.getElementById("updatebtn");
    const deleteBtn = document.getElementById("delete-btn");
    const commentdeleteBtn = document.getElementById("commentdeletebtn")
    const sessionEmail="[[${sessionEmail}]]";

    const boardEmail = "[[${boardList.boardWriter}]]";

    if(sessionEmail==boardEmail){
        updateBtn.style.visibility="visible";
        deleteBtn.style.visibility="visible";
        commentdeleteBtn.style.visibility="visible";
    }else{
        updateBtn.style.visibility="hidden";
        deleteBtn.style.visibility="hidden";
        commentdeleteBtn.visibility="hidden";
    }
    function updatebtn(id){
        location.href="/board/update/"+id;
    }

    function deletebtn(boardid){
        const reqUrl = "/board/"+boardid;

        $.ajax({
            type: 'delete',
            url: reqUrl ,

            success: function (){
                console.log("성공");
                location.href="/board/";
            },
            error: function (){
                alert("ajax실패");
            }
        });
    }
</script>

</html>