<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

</head>
<body>
    <h2>login.html</h2>
    <form action="/member/login" name="loginForm" method="post">
        <input type="text" id="loginEmail" name="memberEmail"><br>
        <span id="emailcheck"></span><br>
        <input type="text" id="loginPassword" name="memberPassword"><br>
        <span id="passwordcheck"></span><br>
        <input type="button"  onclick="loginCheck()" value="로그인">
    </form>
</body>
<script>
    function loginCheck(){
        const login_email = document.getElementById("loginEmail").value;
        const login_password = document.getElementById("loginPassword").value;
        console.log("문제없음" + login_email);
        $.ajax({
            type: "post",
            url: "/member/loginDupl",
            data: {
                "memberEmail": login_email,
                "memberPassword": login_password
            },
            dataType: "text",
            success: function (result){
                if(result=="true"){
                    alert("로그인성공");
                    loginForm.submit();
                }else{
                    alert("아이디또는 비밀번호 오류");
                }
            },
            error: function (){
                alert("로그인 실패");
            }

        });
    }
</script>
</html>